<%- include("partials/header.ejs") -%>
<main class="home-main">
  <div class="heading-section">
    <h1 class="heading">Chat Anonymously.</h1>
    <h2 class="sub-heading">Claim your private chat room now.</h2>
  </div>
  <form class="home-form" action="/" method="POST">
    <lable class="home-lable">https://chatanonymously.com/</lable>
    <input class="home-input" type="text" name="room" id="room" />
    <button class="home-btn" type="submit">Claim</button>
  </form>
</main>
<%- include("partials/footer.ejs") -%>
